<!-- Start block -->
<div fxLayout="column">
  <div
  fxLayout="row wrap"
  fxFlex="100"
  fxLayoutAlign="space-between center"
  >
  <div fxFlex="100">
      <h2 class="text-3xl font-medium tracking-tight leading-8">
          Productos
      </h2>
  </div>
  </div>
  <div fxFlex="100">
    <section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 antialiased" >
      <div class="mx-auto max-w-screen-xl px-4">
          <!-- Start coding here -->
          <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden" fxLayout="column">
              <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4" fxFlex>
                  <div class="w-full md:w-1/2">
                      <form class="flex items-center">
                          <label for="simple-search" class="sr-only">Search</label>
                          <div class="relative w-full">
                              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                  <span class="material-icons text-gray-500">search</span>
                              </div>
                              <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search" required="">
                          </div>
                      </form>
                  </div>
                  <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                      <button type="button" id="createProductModalButton" (click)="nuevo()" class="flex items-center justify-center text-white bg-blue-700 font-medium rounded-lg text-sm px-4 py-2">
                        <span class="material-icons mr-2">shopping_basket</span>Agregar producto
                      </button>
                  </div>
              </div>
              <div ngClass.lt-lg="scroll-grid-lt-lg" fxLayout="column" class="overflow-x-auto overflow-y-hidden" fxFlex="auto">
                <table mat-table class="minedu-table" [dataSource]="dataSource">
                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef>N°</th>
                        <td mat-cell *matCellDef="let row; index as i">{{paginator.pageSize * paginator.pageIndex + i + 1}}</td>
                    </ng-container>


                    <ng-container matColumnDef="descripcion">
                        <th mat-header-cell *matHeaderCellDef>Descripción</th>
                        <td mat-cell *matCellDef="let row">
                                {{row.descripcion}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="precio">
                        <th mat-header-cell *matHeaderCellDef>Precio unitario</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.precio}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="stock">
                        <th mat-header-cell *matHeaderCellDef>Stock</th>
                        <td mat-cell *matCellDef="let row">
                          {{row.stock}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Acciones</th>
                        <td mat-cell *matCellDef="let row; let  i = index;">
                            <div class="flex justify-center items-center">
                                <button mat-icon-button color="primary" class="sidebar-toggle btn-sm mr-2"
                                (click)="modificar(row)"
                                aria-label="Modificar" matTooltip="Modificar">
                                <mat-icon class="">create</mat-icon>
                            </button>

                            <button mat-icon-button color="warn" class="sidebar-toggle btn-sm mr-2"
                                 (click)="eliminar(row)"
                                aria-label="Eliminar" matTooltip="Eliminar">
                                <mat-icon class="">restore_from_trash</mat-icon>
                            </button>

                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>
            </div>
            <div class="no-results"
                [style.display]="dataSource?.data.length === 0 ? '' : 'none'">
                No se encontraron registros
            </div>
            <!-- <div fxLayout="column" fxLayoutAlign="center center" class="spinner-container">
                <mat-spinner diameter="50"></mat-spinner>
            </div> -->
            <mat-paginator #paginator  [pageIndex]="0" [pageSize]="10" fxLayoutAlign="center center"
                [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
          </div>
      </div>
    </section>
  </div>
</div>


<!-- End block -->
