<div class="page-layout dialog-content-wrapper">

  <mat-toolbar matDialogTitle class="bg-blue-700 text-white mb-8">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="start center">
              <h2 class="text-2xl font-semibold tracking-tight leading-8 text-white">
                 Producto
              </h2>
          </div>
          <button
              mat-icon-button
              class="bg-sky-800"
              (click)="matDialogRef.close()"
              aria-label="Close dialog"
          >
              <mat-icon class="text-white">close</mat-icon>
          </button>
      </mat-toolbar-row>
  </mat-toolbar>


  <div mat-dialog-content class="p-8 pb-0 m-0">
      <form        autocomplete="off"
          novalidate
          [formGroup]="form"
          fxLayout="row wrap"
          fxLayout.lt-md="column"
          fxFlex="100%"
          fxLayoutGap="8px"
          fxLayoutGap.lt-md="0">
          <mat-form-field
          appearance="fill"
          fxFlex="calc(100% - 8px)"
          fxFlex.lt-md="100%"
        >
          <mat-label
              >Descripción
          </mat-label>
          <input
              type="text"
              name="descripcion"
              formControlName="descripcion"
              matInput
          />
        </mat-form-field>
        <mat-form-field
        appearance="fill"
        fxFlex="calc(50% - 8px)"
        fxFlex.lt-md="100%"
      >
        <mat-label
            >Precio
        </mat-label>
        <input
            type="text"
            name="precio"
            formControlName="precio"
            matInput
        />
      </mat-form-field>
      <mat-form-field
      appearance="fill"
      fxFlex="calc(50% - 8px)"
      fxFlex.lt-md="100%"
    >
      <mat-label
          >Stock
      </mat-label>
      <input
          type="text"
          name="stock"
          formControlName="stock"
          matInput
      />
    </mat-form-field>
    <!-- <mat-form-field
    appearance="fill"
    fxFlex="calc(50% - 8px)"
    fxFlex.lt-md="100%"
  >
    <input type="file"    formControlName="imagen" accept="image/*" (change)="seleccionarArchivo($event)" />
  </mat-form-field> -->
  <div     fxFlex="calc(50% - 8px)"
  fxFlex.lt-md="100%">
  <input type="file"    formControlName="imagen" accept="image/*" (change)="seleccionarArchivo($event)" />
</div>

  <div     fxFlex="calc(50% - 8px)"
  fxFlex.lt-md="100%">
    <img [src]="vistaPrevia" class="w-52 h-36 border-dashed border-2 border-gray-400" />
  </div>


      </form>
  </div>


  <mat-divider class="mt-6 border-none"></mat-divider>
  <div
      mat-dialog-actions
      class="panel-footer m-0 px-12 py-4 border-none bg-slate-100"
      fxLayout="row"
      fxLayoutAlign="space-between center"
  >


      <div fxFlex="auto"  fxLayoutAlign="end center">
          <a
          mat-stroked-button
          class="rounded shadow-none mr-4 cursor-pointer font-normal transition hover:font-medium"
          (click)="matDialogRef.close()"
      >Cerrar
      </a>
      <button
          type="button"
          mat-raised-button
          color="primary"
          class="rounded shadow-none cursor-pointer font-normal transition"
          (click)="grabar()"
      >
          Guardar
      </button>
      </div>

  </div>
</div>
