


<mat-drawer-container>
  <mat-drawer mode="over" [opened]="sideBarOpen" [disableClose]="true" [position]="'end'">
    <mat-nav-list>
      <div class="flex items-center">
        <img src="assets/imagenes/logo.png" class="w-72 h-40" alt="">
      </div>
      <mat-divider></mat-divider>
      <app-producto-previo-carrito></app-producto-previo-carrito>
            <a mat-list-item routerLinkActive="list-item-active" (click)="sideBarOpen=false">Cerrar</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (cerrarMarket)="sideBarOpen=$event"></app-header>
<section class="bg-gray-50">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
        <img src="assets/imagenes/logo.png" class="w-72 h-40" alt="">
      </a>
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

              <form
              autocomplete="off"
              novalidate
              [formGroup]="form"
              fxLayout="row wrap"
              fxLayout.lt-md="column"
              fxFlex="100%"
              fxLayoutGap="8px"
              fxLayoutGap.lt-md="0"
            >
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
              Iniciar Sesión
          </h1>
            <mat-form-field
            appearance="fill"
            fxFlex="calc(100% - 8px)"
            fxFlex.lt-md="100%"
          >
            <mat-label>Usuario </mat-label>
            <input
              type="text"
              name="usuario"
              formControlName="usuario"
              matInput
            />
          </mat-form-field>
          <mat-form-field
          appearance="fill"
          fxFlex="calc(100% - 8px)"
          fxFlex.lt-md="100%"
        >
          <mat-label>Contraseña </mat-label>
          <input
            type="password"
            name="password"
            formControlName="password"
            matInput
          />
        </mat-form-field>
                  <button type="button" fxFlex="100" class="w-full text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" (click)="login()">Iniciar Sesión</button>

                  <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                    No tienes cuenta <a class="font-medium  underline text-blue-600" routerLink="/registro">Registrate aquí</a>
                </p>
              </form>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>
    </mat-drawer-content>



