<!-- component -->
<div class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat" style="background-image:url('assets/imagenes/verificacion-bg.jpg')">
    <div class="bg-gray-800 bg-opacity-80 md:my-16 lg:py-16 py-10 w-full md:mx-24 md:px-12 px-4 flex flex-col items-center justify-center relative z-40">
        <img src="assets/imagenes/logo.png" class="w-96 mb-4" alt="">
        <h1 class="text-4xl font-semibold leading-9 text-white text-center">Bienvenido</h1>
        <p class="text-base leading-normal text-center text-white mt-6">
          Para continuar debes verificar que eres mayor de edad
        </p>
        <div class="flex-col sm:flex-row flex justify-between lg:w-5/12 w-full mt-12 space-y-4 sm:space-y-0">
            <button class="focus:outline-none focus:ring-offset-2 focus:ring border border-white sm:border-transparent w-full sm:w-auto bg-white py-4 px-6 hover:bg-opacity-75">Soy menor de 18 años</button>
            <button class="bg-blue-700 text-white  focus:outline-none focus:ring-offset-2 focus:ring border border-white sm:border-transparent w-full sm:w-auto bg-blue py-4 px-6 hover:bg-opacity-75" routerLink="/tienda">Soy mayor de 18 años</button>
         
        </div>
      </div>
  </div>



  <footer class="bg-white  shadow dark:bg-gray-900">
    <div class="w-full max-w-screen-xl mx-auto md:py-8">
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">TOMAR BEBIDAS ALCOHÓLICAS EN EXCESO ES DAÑINO.
ESTÁ PROHIBIDA LA VENTA DE ALCOHOL A MENORES DE 18 AÑOS</span>
    </div>
</footer>

