@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;/* You can add global styles to this file, and also import other style files */

@import 'material-icons/iconfont/material-icons.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mdc-dialog__title::before {
  height: 0px !important;
}

.mdc-dialog__title{
  background-color: #3f51b5 !important;
  margin-bottom: 2rem !important;
}



